<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Model</title>
</head>
<body>
<p align="center">
    <img src="https://openi.pcl.ac.cn/rhys2985/Infinity/raw/branch/master/templates/Infinity.png" style="height: 100px">
</p>
<p align="center">
    <font size="8">Infinity Chat Bot</font>
</p>
<p align="center">
    <font size="4">😸 This Web UI is based on Infinity Model, developed by Rhys. 😸</font>
</p>
<p align="center">
    <font size="4">🔥 <a href="https://openi.pcl.ac.cn/rhys2985/Infinity">项目地址</a> 🔥</font>
</p>
<br><br><br><br>
<p align="center">
    <font size="4"><b>This is the homepage of our interface service. However, to experience the</b></font>
</p>
<p align="center">
    <font size="4"><b>capabilities of the model, please use the OpenAI like interface, via /v1...</b></font>
</p>
<br><br><br><br>
<p align="center">
    <font size="4">⚠ I strongly advise you not to knowingly generate or spread harmful content,</font>
</p>
<p align="center">
    <font size="4">including rumor, hatred, violence, reactionary, pornography, deception, etc. ⚠</font>
</p>
</body>
</html>
